@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}
img{
  font-size: 20px;
}
:root {
  --text-color: black;
  --bg-color: rgb(252, 244, 244);
  --primary-color: aquamarine;
  --secondary-color: rgb(252, 244, 244);
  --footer-color: rgb(146, 146, 255);
  --x: red;
  --slide-bg: url(#gradient);
  /* --bg-img: url("./Images/portfolio-background.jpg"); */
  --bg-img: url('Images/light-blank-bg.png');
  --resume-shadow: rgb(139, 119, 248);
  /* --mobile-bg: url("./Images/background.png"); */
  --mobile-bg: url("./Images/light-blank-bg.png");
  /* --primary-color: rgb(255, 251, 42); */
  /* --secondary-color: rgb(255, 87, 95); */
}

.dark-mode{
  --text-color: rgb(250, 243, 243);
  --primary-color: rgb(88, 55, 146);
  --secondary-color: rgb(27, 26, 26);
  --slide-bg: url(#gradient2);
  /* --bg-img: url("./Images/cover-blank-removebg-preview.png"); */
  --bg-img: url("./Images/dark-blank-bg.png");
  --resume-shadow: rgb(22, 0, 143);
  /* --mobile-bg: url("./Images/nadine-shaabana-u7PJMJoDYdg-unsplash.jpg") */
  --mobile-bg: url("./Images/dark-blank-bg.png")
}

/* ======================= Navbar style =============================== */
.navbar {
  position: fixed;
  /* background: url("../Images/background.png") no-repeat; */
  background: var(--mobile-bg) no-repeat;
  background-size: cover;
  opacity: 0.9;
  /* box-shadow: 0px 8px 8px rgb(110, 110, 110); */
  /* display: none; */
  z-index: 999;
}
.navbar .content {
  width: 100vw;
  min-height: 80px;
  /* background-color: white; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.navbar .menu {
  margin-right: 50px;
}

.menu a {
  color: var(--text-color);
  margin-right: 20px;
  font-size: 1.5rem;
  padding: 5px;
}

.menu a:hover {
  color: var(--primary-color);
  /* font-size: 1.75rem; */
  /* border-bottom: 3px solid aquamarine; */
  transition-duration: 0.3s;
}

.navbar .logo {
  /* padding: 10px; */
  margin-left: 40px;
  font-size: 2.5rem;
  width: 150px;
}

.navbar .logo img {
  width: 100%;
  border-radius: 150%;
  /* box-shadow: 0px 8px 8px rgb(238, 235, 235); */
  /* display: none; */
}

.navbar .content .menu-btn {
  color: var(--text-color);
  font-size: 22px;
  cursor: pointer;
  display: none;
  float: right;
  line-height: 80px;
  font-size: 40px;
  margin-right: 40px;
}

input[type="checkbox"] {
  display: none;
}

.navbar .dark-mode-icon{
  margin-left: auto;
  margin-right: 20px;
  color: var(--text-color);
  font-size: 22px;
  display: inline-block;
  cursor: pointer;
}

/* ====================== home page style ============================= */
#home {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  /* background: url('../Images/cover-blank.jpg') no-repeat; */
  background: var(--bg-img) no-repeat;
  background-size: cover;
  align-items: center;
  /* justify-content: flex-end; */
  color: var(--text-color);
}

#home .desktop-img{
  position: absolute;
  width: 35%;
  /* background-color: #4267b2; */
  /* transform: rotateY(180deg) */
  right: 0px;
  bottom: 0px;
}
#home .desktop-img img{
  width: 100%;
}

#home .contents {
  margin-left: 40px;
  width: 600px;
}

#home .mobile-img{
  display: none;
}
#home .text {
  font-size: 30px;
  margin-bottom: 10px;
}

#home .line-1 {
  color: gray;
  font-size: 24px;
  letter-spacing: 2px;
}

#home .line-2 {
  color: rgb(255, 59, 59);
  font-weight: 1000;
  font-size: 50px;
}

#home .line-3 {
  color: var(--text-color);
  /* font-weight: 1000; */
  font-size: 40px;
}

#home .cursor {
  display: inline-block;
  font-weight: 1000;
  animation: blink 0.6s linear infinite alternate;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.social {
  width: 60%;
  /* background-color: #1DA1F2; */
  display: flex;
  align-items: center;
  margin-top: 40px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.social-icon {
  width: 50px;
  text-align: center;
  border: 3px solid var(--text-color);
  border-radius: 10px;
  font-size: 30px;
  padding: 5px;
  /* margin-right: 30px; */
  cursor: pointer;
  color: var(--text-color);
}

.social-icon:hover {
  /* background-image: linear-gradient(to right, red , yellow); */
  transition: 0.5s;
}

.linkedin:hover,
.facebook:hover,
.github:hover {
  background-color: #4267b2;
  color: white;
  box-shadow: 8px 8px 8px rgb(139, 119, 248);
}

.email:hover,
.phone:hover {
  background-color: tomato;
  color: white;
  box-shadow: 8px 8px 8px rgb(255, 167, 108);
}

/* ====================== About Page Style ============================ */

#about {
  width: 100%;
  height: 100vh;
  background-color: var(--primary-color);
  position: relative;
  /* background-image: url("../Images/bg.webp"); */
  /* background: url('../Images/background-alter.png') no-repeat; */
  /* background-size: cover; */
  color: var(--text-color);
}
#about::before {
  content: "";
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    var(--primary-color)
  );
  position: absolute;
  top: -30px;
  width: 100%;
  height: 30px;
}

#about .container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#about .description {
  width: 40%;
}

#about .header {
  font-size: 50px;
  margin-bottom: 10px;
}

#about .about-me {
  font-size: 20px;
}

#about .resume{
  border: 3px solid black;
  border-radius: 7px;
  margin-top: 20px;
  font-size: 25px;
  width: 40%;
  font-weight: 900;
  display: block;
  color: black;
  /* background-color: blue; */
  cursor: pointer;
  text-align: center;
  padding: 10px;
}
#about .resume:hover{
  transition: 0.5s;
  box-shadow: 8px 8px 8px var(--resume-shadow);
}
#about .display {
  width: 40%;
  height: 60%;
  /* margin-bottom: 200px; */
  /* background-color: blueviolet; */
  position: relative;
  /* display: none; */
}

.my-blob {
  width: 110%;
  position: absolute;
  bottom: -120px;
}

.my-blob path {
  /* fill: #4267B2; */
  /* fill: url(#gradient); */
  fill: var(--slide-bg);
}

#about .slider {
  position: relative;
  width: 100%;
  height: 100%;
  /* left: 200px; */
  /* background-color: lawngreen; */
  /* display: none; */
}
#about .slider::before {
  content: "";
  height: 180px;
  width: 100%;
  left: 10%;
  bottom: -75px;
  position: absolute;
  z-index: 9;
  /* mix-blend-mode: screen; */
  /* background-color: var(--primary-color); */
  /* background-image: linear-gradient(to bottom, rgba(255,255,255,0), var(--primary-color)); */
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    var(--primary-color),
    var(--primary-color)
  );
}

#about .slide {
  height: 100%;
  display: none;
  overflow: hidden;
  position: relative;
  animation: fade 10s ease;
  position: relative;
}
/* #about .slide::before {
  content: "";
  height: 100px;
  width: 100%;
  bottom: 0px;
  position: absolute;
  z-index: 9;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    var(--primary-color)
  );
} */

@keyframes fade {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#about .slider img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  z-index: -2;
  animation: zoom 30s ease;
  /* object-position: 0% 50%; */
}

@keyframes zoom {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1.3, 1.3);
  }
}
#about .text {
  position: absolute;
  font-size: 20px;
  color: rgb(255, 0, 0);
  top: 40%;
  left: 15%;
  letter-spacing: 2px;
  animation: move 4s ease;
  z-index: 2;
  display: none;
}
@keyframes move {
  from {
    left: 25%;
  }
  to {
    left: 15%;
  }
}

/* ================================ Skills Page Style ======================== */

#skills {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--secondary-color);
  color: var(--text-color);
}

#skills::before {
  content: "";
  background-image: linear-gradient(
    to bottom,
    var(--primary-color),
    var(--secondary-color)
  );
  position: absolute;
  /* opacity: 0.3; */
  top: -50px;
  width: 100%;
  height: 100px;
}

#skills .title {
  font-size: 50px;
  /* color: rgb(255, 255, 255); */
  margin-top: 100px;
  padding: 30px 90px;
  /* background-color: #1DA1F2; */
}

#skills .skills-box {
  align-self: center;
  justify-self: center;
  display: flex;
  /* background-color: aquamarine; */
  width: 75%;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#skills .container {
  background-color: rgb(249, 255, 249);
  box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgb(0, 0, 0);
  height: 150px;
  width: 200px;
  max-width: 80vw;
  margin: 20px 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#skills .container:hover {
  box-shadow: 10px 10px 5px rgb(0, 0, 0);
}

#skills .container img {
  border-radius: 4px;
  width: 50%;
}

#skills .container .name {
  margin-top: 10px;
  font-size: 25px;
  display: none;
}

/* ============================== Projects page style ===================== */

#projects {
  width: 100%;
  /* min-height: 100vh; */
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  position: relative;
  color: var(--text-color);
}
#projects::before {
  content: "";
  background-image: linear-gradient(
    to bottom,
    var(--secondary-color),
    var(--primary-color)
  );
  position: absolute;
  /* opacity: 0.3; */
  top: -50px;
  width: 100%;
  height: 100px;
}

#projects > .title {
  font-size: 50px;
  margin-top: 100px;
  padding: 30px 90px;
  /* background-color: #1DA1F2; */
}

#projects .body {
  width: 90%;
  justify-self: center;
  align-self: center;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* background-color: rgb(253, 253, 40); */
}

#projects .project {
  width: 500px;
  /* min-height: 300px; */
  /* background-color: rgb(255, 255, 255); */
  background-color: var(--secondary-color);
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin-bottom: 50px;
  /* justify-content: center; */
  /* align-items: center; */
}

#projects .project-display {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  /* height: 400px; */
  /* background-color: brown; */
}

#projects .project-display img {
  width: 95%;
  border-radius: 5px;
  display: none;
  animation: display 8s ease-in-out;
}

@keyframes display {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#projects .info {
  padding: 20px;
}
#projects .info .title {
  font-size: 25px;
  font-weight: 700;
  /* color: black; */
}
#projects .info .desc {
  margin-top: 10px;
  color: gray;
}

/* ============================ Contacts Page Style ======================== */

#contacts {
  width: 100%;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--secondary-color);
  color: var(--text-color);
}
#contacts::before {
  content: "";
  background-image: linear-gradient(
    to bottom,
    var(--primary-color),
    var(--secondary-color)
  );
  position: absolute;
  top: -35px;
  width: 100%;
  height: 70px;
}

#contacts > .title {
  font-size: 50px;
  /* margin-top: 100px; */
  padding: 30px 90px;
}

#contacts .body {
  align-self: center;
  width: 90%;
  /* height: 50%; */
  /* background-color: lightblue; */
  display: flex;
  justify-content: space-evenly;
}

#contacts .body .left,
.right {
  /* background-color: aquamarine; */
  width: 40%;
}

#contacts .body .left {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

#contacts .body .left h3 {
  font-size: 30px;
  margin-bottom: 20px;
  letter-spacing: 2px;
}

#contacts .body .left p {
  font-size: 20px;
  padding-right: 30px;
}

#contacts .contact-form {
  display: flex;
  flex-direction: column;
  /* background-color: aquamarine; */
  /* border-radius: 5px; */
  /* box-shadow: 0px 0px 5px black; */
  padding: 10px;
}

#contacts .contact-form .details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#contacts .contact-form .group {
  display: flex;
  flex-direction: column;
  width: 49%;
}
#contacts .contact-form .group.message {
  width: 100%;
}

#contacts .contact-form input,
textarea {
  padding: 5px;
  border-radius: 2px;
  border: solid 1px var(--text-color);
  color: var(--text-color);
  background-color: transparent;
  margin: 5px 0 10px 0;
}

#contacts .banner {
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center;
}

#contacts #send-btn {
  padding: 5px 15px;
  margin-left: 5px;
  background: rgb(182, 255, 123);
  font-size: 23px;
  width: max-content;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  box-shadow: 0px 0px 5px black;
}

#contacts #send-btn:hover {
  transition: 0.7s;
  /* background: var(--primary-color); */
  box-shadow: 0px 0px 10px black;
}

/* ========================== Responsive =================================== */

@media (max-width: 820px) {
  /* .head .nav-bar .logo{
      font-size: 40px;
    } */
  .navbar .menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 80px;
    background: rgba(0, 0, 0, 0.9);
    left: -120%;
    transition: left 0.5s ease;
    /* z-index: 93; */
  }

  .navbar .menu a {
    margin-top: 30px;
    display: block;
    font-size: 50px;
    color: rgba(255, 255, 255, 0.7);
  }
  .navbar .menu a:hover {
    color: var(--primary-color);
    font-size: 60px;
    transition: all 0.5s ease;
  }

  .navbar .content .menu-btn {
    font-size: 32px;
    display: block;
  }

  #click:checked ~ .menu-btn i:before {
    content: "\f00d";
  }

  #click:checked ~ .menu {
    left: 0;
    transition: all 0.5s ease;
  }
  #click:checked ~ .menu a {
    margin-left: 0px;
  }

  .navbar .logo {
    margin-left: 15px;
    width: 120px;
  }
  
  .navbar .logo img {
    width: 100%;
  }

  .navbar .dark-mode-icon{
    margin-right: 25px;
    font-size: 32px;
  }

  /* =================== Home Page ================================ */
  #home {
    background-image: var(--mobile-bg);
  }

  #home .desktop-img{
    display: none;
  }

  #home .mobile-img{
    display: block;
    width: 60%;
    margin: 0 auto 20px auto;
    background-image: radial-gradient(transparent, var(--secondary-color));
    /* background-image: radial-gradient(white, var(--x)); */
    border-radius: 50%;
    animation: color 5s ease-in-out infinite alternate;
    position: relative;
    border-top:  2px solid var(--text-color);
    border-right:  2px solid var(--text-color);
    /* border-left: 3px solid black; */
    /* transition: color ease-in-out 1s; */
    /* background: radial-gradient(ellipse farthest-corner at var(--x) 0%, #FFFFFF 0%, #ffb3ff 8%, #ff33ff 25%, #800080 62.5%, #b300b3 100%); */
  /* animation: colorChange 5s infinite alternate ease; */
  }
  @keyframes colorChange {
    0% {
      --x:0%;
    }
    50% {
      --x:50%;
    }
    100% {
      --x:100%;
    }
  }

@keyframes color {
  0% {
    /* background-image: radial-gradient(white, blue); */
    --x: green;
    /* background-color: violet; */
  }
  40% {
    /* background-image: radial-gradient(white, rgb(49, 202, 82)); */
    --x:blue;
    /* background-color: wheat; */
  }
  60% {
    /* background-image: radial-gradient(white, rgb(212, 230, 53)); */
    --x: red;
    /* background-color: yellow; */
  }
  100% {
    /* background-image: radial-gradient(white, rgb(231, 64, 53)); */
    ---x: yellow;
    /* background-color: yellowgreen; */
  }
}

#home .contents {
  margin-left: auto;
  margin-right: auto;
}

  #home .mobile-img img{
    width: 100%;
    border-radius: 50%;
    /* border: 2px solid black; */
  }

  #home .line-1 {
    font-size: 24px;
    text-align: center;
  }

  #home .line-2 {
    font-weight: 1000;
    font-size: 30px;
    text-align: center;
  }

  #home .line-3 {
    font-size: 29px;
    text-align: center;
  }

  .social {
    width: 100%;
    justify-content: space-evenly;
  }
  /* =================== About Page =============================== */

  #about .header {
    font-size: 40px;
    text-align: center;
  }

  #about .about-me {
    font-size: 17px;
    text-align: center;
  }

  #about .display {
    display: none;
  }

  #about .description {
    width: 90%;
  }
  #about .resume{
    width: 85%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
  }
  /* ==================== Skills Page =============================== */

  #skills .title {
    text-align: center;
    margin-top: 60px;
  }

  #skills .skills-box {
    width: 100%;
    justify-content: space-evenly;
  }

  #skills .container {
    height: 100px;
    width: 133px;
    margin: 20px 0px;
  }

  #skills .container:last-child {
    margin-bottom: 80px;
  }
  /* ========================= Projects Page ======================= */

  #projects > .title {
    font-size: 40px;
    text-align: center;
    margin-top: 60px;
    padding: 30px 0px;
  }

  #projects .body {
    width: 85%;
  }

  #projects .project {
    border-radius: 7px;
    margin-bottom: 20px;
  }
  #projects .project:last-child {
    margin-bottom: 50px;
  }
  #projects .info {
    padding: 10px;
  }
  #projects .info .title {
    font-size: 20px;
    font-weight: 800;
  }
  /* ============================ Contacts Page ========================= */

  #contacts > .title {
    font-size: 40px;
    text-align: center;
    margin-top: 60px;
    padding: 30px 0px;
  }

  #contacts .body {
    flex-direction: column;
  }

  #contacts .body .left,
  .right {
    width: 100%;
  }

  #contacts .body .left {
    padding: 0px;
  }

  #contacts .body .left h3 {
    margin-bottom: 5px;
  }

  #contacts .body .left p {
    font-size: 15px;
    padding-right: 0px;
  }

  #contacts .contact-form {
    padding: 0px;
    margin-bottom: 20px;
  }

  #contacts .contact-form .details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  #contacts #send-btn {
    margin-left: 0px;
    background: rgb(183, 194, 174);
    border-radius: 5px;
    box-shadow: none;
    margin-bottom: 100px;
  }
  #contacts .contacts-social {
    background-color: rgb(27, 27, 27);
    padding-bottom: 20px;
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: 0px;
  }

  #contacts .contacts-social .social .social-icon{
    color: blanchedalmond;
    border-color: blanchedalmond;
  }
}
